services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
      - ORIGIN=https://alpha.kvernicola.cl
    networks:
      - restaurant-network

networks:
  restaurant-network:
    external: true
